# =========================
# ENV / SECRETS
# =========================
.env
.env.*
!.env.example

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# DATABASE
# =========================
*.db
*.sqlite3

# =========================
# VIRTUAL ENV
# =========================
venv/
.env/

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# ALEMBIC
# =========================
# (versions treba ostati!)
migrations/__pycache__/

# =========================
# TEMP FILES
# =========================
*.tmp
*.temp