# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Database
*.db
*.sqlite3

# Migrations (ako dodaš alembic kasnije)
alembic/versions/*.pyc

# Logs
*.log

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db